<header class="no-print">
    <nav>
        <ul>
            {% if page.previous.url != nil %}
                <li><a href="{{ page.previous.url }}"><< {{ page.previous.title }}</a></li>
            {% elsif page.origin_url != nil %}
                <li><a href="{{ page.origin_url }}"><< {{ page.origin }}</a></li>
            {% endif %}
            <li><a href="/">Home</a></li>
            {% if page.next.url != nil %}
                <li><a href="{{ page.next.url }}">{{ page.next.title }} >></a></li>
            {% endif %}
        </ul>
    </nav>
</header>